<app-taskbar></app-taskbar>
<div>

  <!--  <div class="header-area">-->
  <!--  </div>-->

  <div>

    <div class="query-area">

    </div>

    <div class="drag-drop-area" cdkDropListGroup>
      <div class="drop-area" cdkDropList [cdkDropListData]="tid" (cdkDropListDropped)="dropArea($event)">
        <div *ngFor="let d of tid">
          <div class="check-box" cdkDrag>
            <form ngForm>
              <div *ngFor="let option of totalOptions[d.id]">
                <input type="checkbox"
                       name="options"
                       value="{{option.value}}"
                       [(ngModel)]="option.checked"/>
                {{option.name}}
              </div>
              <button (click)="addColumns(d.id)">Expand</button><button (click)="submit(d.id)">Submit</button>
            </form>
          </div>
        </div>
      </div>

        <div class="box-list" cdkDropList (cdkDropListDropped)="dropArea($event)" [cdkDropListData]="desc">
          <div class="example-box" *ngFor="let d of desc" cdkDrag>
            {{ d["name"] }}
          </div>
        </div>


    </div>
  </div>

  <div class="table-area">
<!--    <section>-->
<!--      <p class="static-d">Value</p>-->
<!--      <p class="static-d">Group By</p>-->
<!--      <p class="static-d">Condition</p>-->
<!--      <p class="static-d">Others</p>-->
<!--    </section>-->
    <div class="firstComponent">
    <div class="header-box">
      <table>
        <thead>
        <tr>
          <th style="width: 100px">Column</th>
          <th style="width: 100px">Value</th>
          <th style="width: 100px">GroupBy</th>
          <th style="width:100px">Condition</th>
          <th style="width: 100px">Sort</th>
        </tr>
        </thead>
      </table>
    </div>


    <div class="table">
      <form class="add-row1" id="form1" >
<!--      <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit(callform.value)" #callform="ngForm"-->
      </form>
    </div>
    </div>

    <div class="secondComponent">
      <div class="header-box">
        <table>
          <thead>
          <tr>
            <th style="width: 100px">Column</th>
            <th style="width: 100px">Value</th>
            <th style="width: 100px">GroupBy</th>
            <th style="width:100px">Condition</th>
            <th style="width: 100px">Sort</th>
          </tr>
          </thead>
        </table>
      </div>

      <div class="table">
        <form class="add-row2" id="form2">
        </form>
      </div>
    </div>
  </div>
  </div>




<!--CLAIM{-->
<!--claimId,-->
<!--Provider,-->
<!--Patient-->
<!--ClaimAmount,-->
<!--//Services-->
<!--status-->
<!--}-->

<!--PATIENT{-->
<!--PatientName,-->
<!--//[CLAIMS]-->
<!--TotalClaimAmount-->
<!--PatientPostalCode-->
<!--}-->

<!--PROVIDER{-->
<!--ProviderName,-->
<!--ProvidersOrganization-->
<!--ProviderLastOrganization,-->
<!--LicenseNumber,-->
<!--ProviderTotalWorkExp,-->
<!--//claimsFiled: [CLAIMS]-->
<!--}-->


















