<app-taskbar></app-taskbar>
<div>

  <!--  <div class="header-area">-->
  <!--  </div>-->

  <div>

    <div class="query-area">

    </div>

    <div class="drag-drop-area" cdkDropListGroup>
      <div class="drop-area" cdkDropList [cdkDropListData]="tid" (cdkDropListDropped)="dropArea($event)">
        <div *ngFor="let d of tid">
          <div class="check-box" cdkDrag>
            <form ngForm>
              <div *ngFor="let option of totalOptions[d.id]">
                <input type="checkbox"
                       name="options"
                       value="{{option.value}}"
                       [(ngModel)]="option.checked"/>
                {{option.name}}
              </div>
              <button (click)="addColumns(d.id)">Info</button><button (click)="submit(d.id)">Submit</button>
            </form>
          </div>
        </div>
      </div>


        <div class="box-list" cdkDropList (cdkDropListDropped)="dropArea($event)" [cdkDropListData]="desc">
          <div class="example-box" *ngFor="let d of desc" cdkDrag>
            {{ d["name"] }}
          </div>
        </div>


    </div>
  </div>

  <div class="table-area">
<!--    <section>-->
<!--      <p class="static-d">Value</p>-->
<!--      <p class="static-d">Group By</p>-->
<!--      <p class="static-d">Condition</p>-->
<!--      <p class="static-d">Others</p>-->
<!--    </section>-->
    <div class="firstComponent">
    <div class="header-box">
      <table>
        <thead>
        <tr>
          <th style="width: 100px">Column</th>
          <th style="width: 100px">Value</th>
          <th style="width: 100px">GroupBy</th>
          <th style="width:100px">Condition</th>
          <th style="width: 100px">Others</th>
        </tr>
        </thead>
      </table>
    </div>


    <div class="table">
      <form class="add-row1">
      </form>
    </div>
    </div>

    <div class="secondComponent">
      <div class="header-box">
        <table>
          <thead>
          <tr>
            <th style="width: 100px">Column</th>
            <th style="width: 100px">Value</th>
            <th style="width: 100px">GroupBy</th>
            <th style="width:100px">Condition</th>
            <th style="width: 100px">Others</th>
          </tr>
          </thead>
        </table>
      </div>

      <div class="table">
        <form class="add-row2">
        </form>
      </div>
    </div>

  </div>

  </div>


<!--  <app-list-drag></app-list-drag>-->
<!--  <div class="form-group">-->
<!--    <div *ngFor="let options of totalOptions">-->
<!--      <form ngForm (ngSubmit)="submit()">-->
<!--        <div *ngFor="let option of options">-->
<!--          <input type="checkbox"-->
<!--               name="options"-->
<!--               value="{{option.value}}"-->
<!--               [(ngModel)]="option.checked"/>-->
<!--               {{option.name}}-->
<!--        </div>-->
<!--        <button>Submit</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->


<!--&lt;!&ndash;<div class="example-box" cdkDrag>&ndash;&gt;-->
<!--&lt;!&ndash;  Drag me around&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<button mat-raised-button cdkDrag>Click Me!</button>&ndash;&gt;-->

<!--<div class="container">-->

<!--  <div>-->
<!--    <ul class="query-area">-->
<!--    </ul>-->
<!--  </div>-->

<!--    <div cdkDropListGroup>-->
<!--      <ul class="drop-area" cdkDropList [cdkDropListData]="movies1" (cdkDropListDropped)="dropArea($event)" >-->
<!--      <li class="example-box resize-box" *ngFor="let m of movies1" cdkDrag>-->
<!--        {{ m }}-->
<!--      </li>-->
<!--      </ul>-->

<!--      <div class= "drop-box-shift">-->
<!--        <div class="example-list" cdkDropList (cdkDropListDropped)="dropArea($event)" [cdkDropListData]="movies">-->
<!--          <div class="example-box" *ngFor="let movie of movies" cdkDrag>-->
<!--            {{movie}}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->




